<!--Entry-->
<div class="entry three-column fixed-width-wrapper">
	<!--block-->
	<div class="type1 half">
    	<h1 class="first-word double-color">Watch our intro video...</h1>
        <div class="content">
            <div class="clear"></div>
            <p>
            <%= image_tag("clipboard.jpg", :class => "right") %><strong>Get the 100 feet view of what Grapevine can do for your business.</strong><br />
					Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="#">more</a> </p>
			<%= image_tag("half_border.jpg") %>
            <p>
            <%= image_tag("star.jpg", :class => "right") %><strong>Star Reviews Info Here</strong><br />
					Sed tempus bibendum risus, nec dignissim sem vestibulum ut... <a href="#">more</a> </p>
			<%= image_tag("half_border.jpg") %>
			<p><%= image_tag("lifesaver.jpg", :class => "right") %>
            <strong>Our product can be a life-line for your business</strong><br />
					Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="#">more</a> </p>
        </div>
    </div>
    <!--/block-->

	<div class="type1 half half_video">
        <div class="content">
            <div class="clear"></div>
			<iframe width="460" height="270" src="http://www.youtube.com/embed/7RP7oB3mFfA" frameborder="0" allowfullscreen></iframe>
			<%= image_tag("video_shadow.jpg") %>
        </div>
    </div>

</div>
<!--/Entry-->