<!--Slider-->
<div class="clear" id="slider-bg">

    <div id="slidedeck_frame" class="skin-slidedeck">
        <dl class="slidedeck">
            <dt>What Is Grapevine?</dt>
            <dd>
                <div class="copy">
                    <h4 class="title">What is Grapevine?</h4>
                    <span class="divider">&nbsp;</span>
                    <p><strong>Fast Email notifications for customer reviews.</strong> Get notified for reviews posted online via email messaging or SMS text. Respond right then and there.</p>
                    <h5 class="small-title">Benefits:</h5>
                    <ul class="no-float">
                        <li>View full review in email</li>
                        <li>Links for quick response</li>
                        <li>SMS for non-smart phones</li>
                    </ul>
                </div>
                <%= image_tag("slidedeck/slide_1.jpg", :class => "cardImage") %>
            </dd>
            <dt>How it Works</dt>
            <dd>
                <div class="copy">
                    <h4 class="title">How does Grapveine Work?</h4>
                    <span class="divider">&nbsp;</span>
                    <p><strong>We aggregate online reviews for you from major review portals.</strong><br /><br />
                    We capture all your reviews from the leading review sites such as Yelp, CitySearch, TripAdvisor, Open Table and UrbanSpoon.</p>
                </div>
                <%= image_tag("slidedeck/slide_2.jpg", :class => "cardImage") %>
            </dd>
            <dt>Try It For Free</dt>
            <dd>
                <div class="copy wide">
                    <h4 class="title">Enter Business Name</h4>
                    <a href="http://www.slidedeck/features">Skip &amp; Sign Up Now</a>
                    <span class="divider">&nbsp;</span>
                    <p><strong>Just enter in the business name of the restuaruant you want to follow bellow.</strong><br /><br />
                    One you hit the Submit button, you will get an email notice showing you a sample result.</p>

                    <!-- TODO: Need Help here for form -->
              		<%= form_tag "#", :method => 'get' do %>
                        <%= text_field_tag :location_search %>
                        <%= submit_tag "Search" %>
                    <% end %>

                    <!--  <form name="business_name_test" method="post" action="??????????">
					  <input type="text" name="business_name" size="100"/>
				  <label>
				   	  <input type="submit" value="Submit" />
				  </label>
				</form> -->
			 <div id="g-search">
        	<form action="/review/email" method="post">
            	<div><input type="text" class="input-field border-radius-left-3px reset-text" value="Search here..."></div>
                <div><button type="submit" title="Get Review" class="sprite"><em>Get Review</em></button></div>
            </form>
        </div>
				<br /><br />
				<p>If you don't want to wait, just go straight to our sign up page now!</p>
                </div>
            </dd>

            <dt>Check Your Email</dt>
            <dd>
                <div class="copy wide">
                    <h4 class="title">Check Your Email</h4>
                    <a href="http://www.slidedeck/features">Learn More About Features</a>
                    <span class="divider">&nbsp;</span>
                    <p><strong>SlideDeck is packed with some seriously kick-ass features.</strong> Why waste time developing your own functions when you can utilize our rich API? Why even write code when you can use our Wordpress GUI.</p>
                </div>
                <%= image_tag("slidedeck/slide-3_features.png", :class => "wideImage") %>
            </dd>

        </dl>
    </div>    
    <%= image_tag("slide_shadow.jpg", :class => "slide_bg") %>

</div>

<%= render "sd_init" %>
<!--/Slider-->
