<p id="notice"><%= notice %></p>

<p>
  <b>Auther:</b>
  <%= @review.auther %>
</p>

<p>
  <b>Author location:</b>
  <%= @review.author_location %>
</p>

<p>
  <b>Recommend:</b>
  <%= @review.recommend %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<p>
  <b>Date:</b>
  <%= @review.date %>
</p>

<p>
  <b>Link:</b>
  <%= @review.link %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
